<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    {{ template "_internal/opengraph.html" . }}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    {{ with resources.Get "main.css" | minify }}
      <style type="text/css">
        {{ .Content | safeCSS }}
      </style>
    {{ end }}

    {{ if isset .Params "title" }}
      <title>
        {{ .Params.title }}
      </title>
    {{ else }}
      <title>
        Edds
      </title>
    {{ end }}
  </head>
  <body>
    <a href="/" title="Back to Home page">
      <div class="banner"></div>
    </a>
    <main>
      <article>
        <header>
          {{ block "header" . }}
          {{ end }}
        </header>
        {{ block "main" . }}
        {{ end }}
      </article>
    </main>
  </body>
</html>
