body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #fffaf7;
  line-height: 1.5;
}

main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

header {
  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: .5rem;
}

time {
  color: #888;
}

pre {
  white-space: pre-wrap;
}

hr {
  border: 2px solid #ddd;
  margin: 2rem auto;
}

#fn {
  font-size: 85%;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: #ff3c3c;
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: #fff888;
}

img.border {
  border-radius: 1%;
}

img.center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
