/* Main structure */
html {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;

  background-color: #fffaf7;
  color: #555;

  max-width: 45em;
  padding: 1em;
  margin: 0 auto;
}

/* Headers */
header {
  margin-bottom: 1.5em;
  line-height: 1.3;
}

/* Main page header, navigation */
.navigation {
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  display: flex;

  margin-bottom: 4em;
}

nav a:not(:last-child) {
  margin-right: 1em;
}

/* Headings */
h1,
h2,
h3 {
  font-weight: 500;
  color: #333;
}

h1 a {
  color: #000;
}

h1 a:hover,
h2 a:hover {
  text-decoration: none;
}

header h1,
header h2,
header h3 {
  margin: 0;
}

h1 {
  font-size: 2.0em;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

/* Links */
a {
  text-decoration: none;
  color: #ff3c3c;
}

a:hover {
  text-decoration: underline;
}

/* Code and formatted blocks */
code,
pre {
  background: #eee;
}

code {
  padding: 0.25em;
  vertical-align: text-bottom;
  white-space: nowrap;
}

pre {
  padding: 1em;
}

/* Image lists */
.gallery {
  justify-content: space-between;
  display: flex;
  margin: 1em 0;
}

.gallery img {
  width: 100%;
}

.gallery img:not(:last-child) {
  margin-right: 1em;
}

/* Article list */
.articles article {
  margin-bottom: 2em;
}

/* Misc */
time {
  color: #888;
}
