body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #fffaf7;
  line-height: 1.5;
}

html, body {
  padding: 0;
  margin: 0;
}

main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

header {
  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: .5rem;
}

time {
  color: #888;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: #ff3c3c;
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: #fff888;
}

img.border {
  border-radius: 1%;
}

img.center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

div.banner {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/banner.jpg");
  background-size: cover;

  -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
  -moz-box-shadow: inset 0 -10px 10px -10px #000000;
  box-shadow: inset 0 -10px 10px -10px #000000;

  height: 100px;
  width: 100%;
}
